---
layout: main
---

<img
  src="{{ site.baseurl }}/assets/img/login-gov.png"
  width="193"
  height="26"
  alt="login.gov logo"
  class="margin-bottom-4"
>

<div class="grid-row grid-gap padding-bottom-1">
  <div class="grid-col-12 desktop:grid-col-7">
    <div class="usa-prose">
      <h1>Verify your identity with login.gov</h1>

      <p>If you create or renew an entity registration at SAM.gov after <strong>April 26, 2021</strong>, you will need to first verify your identity at login.gov</p>

      <p class="padding-top-2">To verify your identity, you’ll need:</p>

      <ul>
        <li><strong>Your Social Security Number</strong></li>
        <li><strong>A phone number on a phone plan that is in your name</strong></li>
        <li>
          <strong>A valid government issued ID from the following list:</strong>
          <ul>
            <li>Drivers license</li>
            <li>State-issued photo ID</li>
          </ul>
        </li>
      </ul>
    </div>

    <form action="{{ site.idp_host }}{{ site.idp_path }}" method="get" class="margin-y-4">
      <input name="client_id" value={{ site.issuer }} type="hidden" />
      <input name="acr_values" value={{ site.acr_values }} type="hidden" />
      <input name="redirect_uri" value={{ site.redirect_uri }} type="hidden" />
      <input name="nonce" value={{ site.nonce }} type="hidden" />
      <input name="state" value={{ site.state }} type="hidden" />
      <input name="code_challenge" value={{ site.code_challenge }} type="hidden" />
      <input name="code_challenge_method" value="S256" type="hidden" />
      <input name="response_type" value="code" type="hidden" />
      <input name="scope" value="openid" type="hidden" />

      <button type="submit" class="usa-button">Verify my identity</button>
    </form>
  </div>
  <div class="grid-col-12 desktop:grid-col-5">
    {%- capture why_tip_heading -%}
      Why does SAM.gov now require identity proofing?
    {%- endcapture -%}
    {%- capture why_tip_content -%}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ultrices lectus. Vivamus accumsan sapien velit, vel sodales mauris vehicula ut. Cras suscipit quis sem at ultricies. Curabitur accumsan tortor urna, vel blandit tortor lobortis varius. Nunc quam sapien, egestas id nunc nec, interdum rutrum mauris. Fusce ut augue ut diam fermentum egestas.
    {%- endcapture -%}
    {% include tip_box.html heading=why_tip_heading content=why_tip_content %}
  </div>
</div>

<hr />

<h2>Frequently asked questions about identity verification</h2>

<div class="grid-row">
  <div class="grid-col-12 desktop:grid-col-10">
    {% for faq in site.data.faqs %}
      {% capture faq_id %}faq-{{ forloop.index }}{% endcapture %}
      {% include accordion.html id=faq_id question=faq.question answer=faq.answer %}
    {% endfor %}
  </div>
</div>
