$theme-color-secondary: #70e17b;
$theme-color-secondary-dark: darken($theme-color-secondary, 10%);
$theme-color-secondary-darker: darken($theme-color-secondary, 20%);
$theme-font-role-heading: 'sans';
