html,
body {
  background-color: #8aa8c8;
}

body {
  margin: 0 auto;
  max-width: 956px;
}

.page-header {
  background-color: #dbe3ed;
}

.usa-prose {
  > h1 {
    font-size: 26px;
  }

  > p {
    @include u-font('sans', 'md');
    line-height: 30px;
  }

  > ul strong {
    line-height: units(5);
  }
}

hr {
  @include u-margin-y(6);
  background-color: color('primary-darker');
  height: 2px;
}

h2 {
  font-size: 22px;
}
